@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600&display=swap");

.resourcerycontainer {
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-direction: column;
  color: beige;

}

.samplecontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}

p {
  width: 13em;
  height: 8em;
  font-size:x-large;
  margin-left: 2vw;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  text-align: right;
}

.resourcerysample {
  background-image: url("../../../public/resourcery-gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 10em;
  height: 18em;
  margin: 1vw;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.281);

}

.links {
    margin: 1vw;
}

a {
    margin: 3vw;
}