@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.resourcerycontainer {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  color: beige;

}

.samplecontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}


.resourcerysample {
  background-image: url("../../../public/resourcery-gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 13.5em;
  height: 24em;
  margin: 1vw;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.281);
  border-radius: 5px;

}

