.projects {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.544);
  width: 90vw;
  height: 83vh;
  margin-left: 5vw;
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(1px);
  /* box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.281); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);

}

/* .projects.resourcery {
  background-color: rgba(57, 106, 57, 0.544);
}

.projects.friends {
  background-color: rgba(38, 93, 92, 0.544);

}

.projects.yahfood {
  background-color: rgba(174, 154, 67, 0.544);
} */

.featuredproject {
  width: 65vw;
  height: 65vh;
  /* background-color: rgba(0, 0, 0, 0.281); */
  border-radius: 25px;
  margin-top: 5vh;
  overflow-y: scroll;
}

.icons {
  display: flex;
  justify-content: center;
  max-width: 500px;
  max-height: 165px;
}

.resourcerylogo {
  width: 5em;
  height: 5em;
  background-image: url("../../../public/resourcery-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.friendslogo {
  width: 5em;
  height: 5em;
  background-image: url("../../../public/friendsdotmaplogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yahfoodlogo {
  width: 5em;
  height: 5em;
  background-image: url("../../../public/yahfoodlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
