@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chakra+Petch:wght@600&display=swap");

.header {
  color: #9d7357;
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  position: fixed;
}
