@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


.about {
  position: absolute;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.544);
  width: 95vw;
  height: 75vh;
  bottom: 5vh;
  border-radius: 15px 0 0 15px;
  backdrop-filter: blur(1px);
  /* box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.281); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  font-family: "Space Grotesk", serif;
  color: bisque;
  backdrop-filter: blur(10px);
}

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

}

.headshot {
  background-image: url("../../../public/Spencer-Eagleton-Headshot.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 10em;
  height: 15em;
  border-radius: 25px;
  margin: 2em;
  box-shadow: 2px 2px 13px 1px rgba(0, 0, 0, 0.281);

}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bioparagraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 300px;
  max-height: 300px


}

.linkeroos {
  margin: 2vh;
}

.name {
  max-width: 320px;
}