@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;600&display=swap");

.yahfoodcontainer {
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-direction: column;
  color: beige;

}

.samplecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  height: 50vh;
}

p {
  width: 13em;
  height: 10em;
  font-size:x-large;
  margin-left: 2vw;
  overflow-y: scroll;
}

.yahfoodsample {
  background-image: url("../../../public/yahfoodgif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 14em;
  height: 24em;
  margin: 1vw;
  border-radius: 5px;
}

.links {
  display: flex;
  flex-direction: column;
 }
